@media (max-width: 991px) {
  .portfolio-section .portfolio-item,
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio-section {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .contact-section .w-50,
  .contact-section .contact-item,
  .portfolio-popup .description,
  .portfolio-popup .info,
  .portfolio-section .portfolio-item,
  .service-section .service-item,
  .about-section .skills .skill-item,
  .about-section .about-info,
  .about-section .about-img,
  .home-section .home-text,
  .home-section .home-img {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-img {
    margin-bottom: 0;
  }

  .home-section .home-text {
    order: 2;
  }

  .home-section .home-text {
    text-align: center;
    margin-bottom: 200px;
  }

  .home-section .home-img .img-box {
    /* margin-bottom: 40px; */
    max-width: 350px;
    /* position: relative; */
    /* top: 90px; */
  }

  .effect-3 {
    margin-left: -60px;
  }
  .effect-4 {
    left: 15%;
  }
  .effect-5 {
    right: 4%;
  }

  .about-section .about-img {
    padding-bottom: 30px;
  }

  .about-section .timeline .timeline-item:nth-child(2n + 1) {
    padding-right: 15px;
    text-align: left;
    padding-left: 75px;
  }

  .about-section .timeline .timeline-item:nth-child(2n) {
    padding-left: 75px;
    padding-right: 15px;
  }

  .about-section .timeline::before {
    left: 35px;
  }

  .about-section .timeline .timeline-item:nth-child(2n + 1) .icon {
    right: auto;
    left: -60px;
  }

  .about-section .timeline .timeline-item:nth-child(2n) .icon {
    right: auto;
    left: -60px;
  }

  .about-section .timeline .timeline-item {
    margin-bottom: 40px;
  }

  .about-section .timeline .timeline-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 574px) {
  .home-section .home-img .img-box {
    max-width: 260px;
  }
  .home-section .home-text h2 {
    font-size: 35px;
  }
  .home-section .home-img {
    margin-top: 100px;
  }
  .home-section .home-text {
    margin-bottom: 250px;
  }

  .effect-studio {
    left: 5%;
  }
  .effect-mysql {
    top: 50%;
    left: 28%;
  }
  .effect-cartoon {
    top: 50%;
    left: 65%;
  }
}
